h1{
    background-color: aqua;
    font-family: sans-serif;
    color: rgb(130, 130, 131);
}
.container{
background-color: chartreuse;
height: 100vh;
width: 100%;


}
.main{
background-color: blueviolet;
height: 100vh;
width: 100%;
}

